<!DOCTYPE html>

<head>
    <style>
        body {background-color: coral;
        text-align: center;

        }
        #submit {
              background-color: black;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
            }
        input {
            width: 20%;
            height: 50px;
        }
    </style>
</head>
<html>
<body>
<br><br><br>
<h1> Welcome! </h1>
<h2>What is your name?</h2>

<form action="/" method="post">
  <input type="text" id="name" name="name" placeholder="Your name"><br><br>
  <input type="submit" value="Submit" id="submit">
</form>
</body>
</html>